#Vagrant
/task01/.vagrant/
/task02-1/.vagrant/
/task02-2/.vagrant/
/task03/ansible/.vagrant/
/task03/ansible-lxc/.vagrant/
/task03/ansible-drupal/.vagrant/
/task04/.vagrant/
/task05/.vagrant/
/task06/.vagrant/